@font-face {
  font-family: 'source_sans_problack';
  src: url("../includes/fonts/sourcesanspro-black-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_problack_italic';
  src: url("../includes/fonts/sourcesanspro-blackit-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-blackit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_probold';
  src: url("../includes/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_probold_italic';
  src: url("../includes/fonts/sourcesanspro-boldit-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-boldit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_proextralight';
  src: url("../includes/fonts/sourcesanspro-extralight-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_proXLtIt';
  src: url("../includes/fonts/sourcesanspro-extralightit-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-extralightit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_proitalic';
  src: url("../includes/fonts/sourcesanspro-it-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-it-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_prolight';
  src: url("../includes/fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_prolight_italic';
  src: url("../includes/fonts/sourcesanspro-lightit-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-lightit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_proregular';
  src: url("../includes/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("../includes/fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'source_sans_proSBdIt';
  src: url("../includes/fonts/sourcesanspro-semiboldit-webfont.woff2") format("woff2"), url("../includes/fonts/sourcesanspro-semiboldit-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none !important; }

.float-right {
  float: right;
  text-align: right; }

.item .float-right {
  float: none;
  text-align: left; }

.cover-transparent {
  background-color: #000;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0; }

.white-text h2, .white-text p, .white-text h3 {
  color: #fff !important; }
.white-text .standard-button {
  color: #fff !important;
  border: 2px solid #fff !important;
  padding: 10px 15px;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }
.white-text .standard-button:hover {
  color: #000 !important;
  background-color: #fff !important;
  border: 2px solid #fff !important; }

.item .standard-button {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 15px;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }
.item .standard-button:hover {
  color: #000;
  background-color: #fff;
  border: 2px solid #fff; }

.standard-button {
  color: #000;
  border: 2px solid #000;
  padding: 10px 15px;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }

.standard-button:hover {
  color: #fff;
  background-color: #000;
  border: 2px solid #000; }

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.hide-mobile {
  display: none; }

.show-mobile {
  display: inline-block; }

@media screen and (min-width: 991px) {
  .slide-left {
    -webkit-animation-name: slideLeft;
    animation-name: slideLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

  @-webkit-keyframes slideLeft {
    0% {
      left: 500px;
      opacity: 0; }
    100% {
      opacity: 1.0;
      left: 0px; } }
  @keyframes slideLeft {
    0% {
      right: -1000px;
      opacity: 0; }
    100% {
      opacity: 1.0;
      right: 0px; } }
  .hide-mobile {
    display: inline-block; }

  .item .float-right {
    float: right;
    text-align: right; }

  .show-mobile {
    display: none; }

  .item .standard-button {
    color: #000;
    border: 2px solid #000;
    padding: 10px 15px;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
  .item .standard-button:hover {
    color: #fff;
    background-color: #000;
    border: 2px solid #000; } }
#item-information-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/banners/banner-image-2-mobile.jpg"); }

#item-information-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/banners/banner-image-1-mobile.jpg"); }
  #item-information-3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/banners/banner-image-3-mobile.jpg"); }

.single-feature-container #featured-selection-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/featured/featured-1.jpg"); }
.single-feature-container #featured-selection-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/featured/featured-3.jpg"); }
.single-feature-container #featured-selection-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/featured/featured-2.jpg"); }

#custom-interior-case-study {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/interior-mobile.jpg"); }

@media screen and (min-width: 991px) {
  #custom-interior-case-study {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/interior.jpg"); }

  #item-information-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/banners/banner-image-2.jpg"); }

  #item-information-2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/banners/banner-image-1.jpg"); } }
    #item-information-3 {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../images/banners/banner-image-3.jpg"); }
/**Mobile First**/
html, body {
  max-width: 100%;
  font-family: "source_sans_proregular", Helvetica, sans-serif;
  overflow-x: hidden !important; }

ul li {
  list-style: none; }

/**Navigation**/
.contact-header {
  width: 100%;
  margin: 0;
  padding: 10px;
  text-align: right;
  background-color: #000;
  color: #fff;
  position: relative; }
  .contact-header ul {
    text-align: center; }
    .contact-header ul li {
      display: inline;
      margin: 0px 0.5rem; }
      .contact-header ul li a {
        color: #fff;
        font-family: "source_sans_prolight";
        font-size: 0.5rem; }
        .contact-header ul li a img {
          padding: 0;
          margin: 0 5px;
          top: 0.2rem;
          position: relative;
          height: 1rem; }

#primary-navigation-list {
  z-index: 2;
  height: 100%;
  margin: 0;
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9); }
  #primary-navigation-list ul {
    padding: 25% 5%;
    text-align: center; }
    #primary-navigation-list ul li {
      display: block;
      padding: 3rem; }
      #primary-navigation-list ul li a {
        color: #fff;
        font-family: "source_sans_prosemibold";
        font-size: 3rem; }

#mobile-close {
  max-width: 35px;
  max-height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 35px;
  cursor: pointer; }

#mobile-button {
  float: right;
  cursor: pointer;
  position: relative;
  top: 25px; }
  #mobile-button img {
    height: 35px;
    width: 35px;
    position: relative; }

#primary-navigation {
  background-color: #fff;
  padding: 0px 20px;
  height: 80px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  position: inline-block; }

#company-logo {
  width: 100%;
  top: 10px;
  max-width: 100px;
  position: relative;
  float: left; }
  #company-logo img {
    position: relative;
    padding: 10px 0px;
    width: auto;
    height: auto; }

/****/
/**Highlights**/
.item {
  display: inline-block;
  position: relative;
  height: 100%;
  min-height: 400px;
  max-height: 400px;
  width: 100%; }
  .item article {
    padding: 1.8rem;
    margin: 0;
    max-width: 400px;
    z-index: 1;
    position: relative; }
    .item article h2 {
      line-height: 3rem;
      margin: 15px 0px;
      font-size: 3rem;
      font-family: "source_sans_prosemibold";
      color: #fff; }
    .item article p {
      color: #fff;
      margin-bottom: 15px;
      font-family: "source_sans_proregular";
      font-size: 1rem; }
    .item article a {
      position: relative;
      margin: 15px 0px;
      display: inline-block; }

/****/
/**Featured Selection**/
#featured-selection {
  margin-top: 10px;
  clear: both; }

.single-feature-container {
  width: 100%;
  margin: 0;
  display: inline-block;
  position: relative;
  padding: 5px 2.5px; }
  .single-feature-container article {
    min-height: 300px;
    position: relative;
    display: block; }
    .single-feature-container article .featured-info {
      padding: 25px;
      text-align: center;
      display: block;
      margin: 0 auto;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .single-feature-container article h2 {
      font-size: 1.5rem;
      font-family: "source_sans_prosemibold";
      margin-bottom: 10px; }
    .single-feature-container article p {
      font-size: 1rem;
      font-family: "source_sans_proregular"; }
    .single-feature-container article a {
      display: inline-block;
      margin-top: 15px; }

/****/
/**Car Case Study**/
#car-case-study {
  width: 100%;
  overflow-x: hidden !important;
  position: relative;
  display: block;
  content: "";
  display: table;
  clear: both; }
  #car-case-study article {
    padding: 2rem 2rem;
    max-width: 100%;
    position: relative;
    left: 0%;
    z-index: 1 !important;
    clear: both; }
    #car-case-study article h2 {
      font-size: 2rem;
      font-family: "source_sans_prosemibold"; }
    #car-case-study article h3 {
      font-size: 1rem;
      font-family: "source_sans_probold";
      margin-bottom: 15px; }
    #car-case-study article p {
      font-size: 1rem;
      font-family: "source_sans_proregular"; }
    #car-case-study article ul {
      margin-top: 25px; }
    #car-case-study article a {
      display: inline-block;
      margin-top: 25px; }
  #car-case-study picture {
    overflow-x: hidden !important; }
    #car-case-study picture img {
      display: block;
      width: 100%;
      margin: 0 auto;
      z-index: -1 !important;
      position: relative;
      right: 0; }

/****/
#custom-interior-case-study {
  position: relative; }
  #custom-interior-case-study article {
    text-align: center;
    padding: 150px 25px;
    max-width: 500px;
    z-index: 1;
    position: relative;
    margin: 0 auto; }
    #custom-interior-case-study article h2 {
      font-size: 1.5rem;
      font-family: "source_sans_prosemibold"; }
    #custom-interior-case-study article p {
      margin-bottom: 25px;
      font-size: 1rem; }

/**Footer**/
footer {
  height: 100%;
  display: block;
  position: relative;
  background-color: #000;
  overflow-x: hidden; }

.footer-singular-column ul {
  padding: 0;
  margin: 0;
  max-height: 0px;
  overflow: hidden;
  display: block; }

.caret-icon {
  display: inline-block;
  position: relative; }

.passive {
  position: relative;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center; }

.footer-company-info {
  position: relative;
  padding: 25px;
  float: none; }
  .footer-company-info img {
    display: block;
    margin: 0 auto;
    max-width: 200px; }

.footer-sitemap-container {
  position: relative;
  width: auto;
  display: inline;
  width: 70%;
  max-width: 70%;
  margin-top: 25px;
  height: 100%; }
  .footer-sitemap-container .footer-singular-column {
    width: auto;
    display: block;
    margin: 50px;
    vertical-align: top; }
    .footer-sitemap-container .footer-singular-column h3 {
      margin: 10px 0px;
      font-family: "source_sans_prosemibold";
      font-size: 1.5rem; }
      .footer-sitemap-container .footer-singular-column h3 a {
        color: #fff; }
    .footer-sitemap-container .footer-singular-column ul li {
      padding: 2px 0px; }
      .footer-sitemap-container .footer-singular-column ul li a {
        color: #fff; }
      .footer-sitemap-container .footer-singular-column ul li a:hover {
        text-decoration: underline !important; }

.trademark-container {
  color: #fff;
  text-align: center;
  padding: 10px;
  font-family: "source_sans_prolight";
  font-size: 0.8rem;
  margin-top: 45px; }

@media screen and (min-width: 768px) {
  #company-logo {
    width: 100%;
    top: 0;
    max-width: 150px;
    position: relative;
    float: left; }
    #company-logo img {
      position: relative;
      padding: 10px 0px;
      width: auto;
      height: auto; }

  .contact-header {
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: right;
    background-color: #000;
    color: #fff;
    position: relative; }
    .contact-header ul {
      text-align: center; }
      .contact-header ul li {
        display: inline;
        margin: 0px 1rem; }
        .contact-header ul li a {
          color: #fff;
          font-family: "source_sans_prolight";
          font-size: 0.8rem; }
          .contact-header ul li a img {
            padding: 0;
            margin: 0 5px;
            top: 0.2rem;
            position: relative;
            height: 1rem; } }
@media screen and (min-width: 991px) {
  #custom-interior-case-study {
    position: relative; }
    #custom-interior-case-study article {
      z-index: 1;
      position: relative;
      text-align: center;
      padding: 150px 25px;
      max-width: 850px;
      margin: 0 auto; }
      #custom-interior-case-study article h2 {
        font-size: 3rem;
        font-family: "source_sans_prosemibold";
        margin-bottom: 15px; }
      #custom-interior-case-study article p {
        margin-bottom: 45px;
        font-size: 2rem; }

  .footer-company-info {
    width: 100%;
    position: relative;
    padding: 25px;
    max-width: 30%;
    display: inline-block;
    float: left; }
    .footer-company-info img {
      display: block;
      max-width: 200px;
      margin-top: 10%; }

  .caret-icon {
    display: none; }

  .footer-singular-column ul {
    max-height: 100% !important; }

  .footer-sitemap-container {
    left: 5%;
    position: relative;
    width: 50%;
    display: inline-block;
    height: 100%; }
    .footer-sitemap-container .footer-singular-column {
      margin-top: 2%;
      width: 30%;
      display: inline-block;
      vertical-align: top;
      margin: 0; }
      .footer-sitemap-container .footer-singular-column h3 {
        margin: 10px 0px;
        font-family: "source_sans_prosemibold";
        font-size: 1.5rem; }
        .footer-sitemap-container .footer-singular-column h3 a {
          color: #fff; }
      .footer-sitemap-container .footer-singular-column ul li {
        padding: 2px 0px; }
        .footer-sitemap-container .footer-singular-column ul li a {
          color: #fff; }
        .footer-sitemap-container .footer-singular-column ul li a:hover {
          text-decoration: underline !important; }
    .footer-sitemap-container .footer-singular-column:last-child {
      float: right; }

  .single-feature-container {
    width: 33.22%;
    margin: 0;
    display: inline-block;
    position: relative;
    padding: 5px 2.5px; }
    .single-feature-container article {
      min-height: 450px;
      position: relative;
      display: block; }
      .single-feature-container article .featured-info {
        padding: 25px;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .single-feature-container article h2 {
        font-size: 1.5rem;
        font-family: "source_sans_prosemibold";
        margin-bottom: 10px; }
      .single-feature-container article p {
        font-size: 1rem;
        font-family: "source_sans_proregular"; }
      .single-feature-container article a {
        display: inline-block;
        margin-top: 15px; }

  .single-feature-container:first-child {
    padding-left: 8px; }

  .single-feature-container:last-child {
    padding-right: 5px;
    float: right; }

  .item {
    height: 100%;
    min-height: 800px;
    max-height: 800px;
    width: 100%; }
    .item article {
      padding: 0;
      background-color: transparent;
      margin: 8rem;
      max-width: 380px;
      position: relative; }
      .item article h2 {
        line-height: 4.5rem;
        margin: 15px 0px;
        font-size: 5rem;
        font-family: "source_sans_prosemibold";
        color: #000; }
      .item article p {
        margin-bottom: 15px;
        font-family: "source_sans_proregular";
        font-size: 1.5rem;
        color: #000; }
      .item article a {
        position: relative;
        margin: 15px 0px;
        display: inline-block; }

  .contact-header {
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: right;
    background-color: #000;
    color: #fff;
    position: relative; }
    .contact-header ul {
      text-align: right; }

  #primary-navigation-list {
    float: right;
    width: auto;
    position: relative;
    background-color: transparent;
  visibility: visible;
opacity: 1.0;
display: block !important }
    #primary-navigation-list ul {
      padding: 0;
      position: relative;
      margin-top: 10px;
      text-align: right; }
      #primary-navigation-list ul li {
        margin-top: 25px;
        display: inline; }
        #primary-navigation-list ul li a {
          position: relative;
          top: 15px;
          height: 100%;
          padding: 25% 10px;
          color: #000;
          font-family: "source_sans_prosemibold";
          font-size: 1.25rem; }

  #primary-navigation-list ul li:hover {
    color: #fff;
    background-color: #000; }

  #primary-navigation-list ul li:hover a {
    color: #fff; } }
@media screen and (min-width: 1316px) {
  #car-case-study {
    overflow-x: hidden !important;
    width: auto;
    position: relative;
    display: block;
    content: "";
    display: table;
    clear: both; }
    #car-case-study article {
      padding: 10rem 5rem;
      max-width: 50%;
      position: relative;
      left: 10%;
      z-index: 1 !important;
      clear: both; }
      #car-case-study article h2 {
        font-size: 5rem;
        font-family: "source_sans_prosemibold"; }
      #car-case-study article h3 {
        font-size: 2rem;
        font-family: "source_sans_probold";
        margin-bottom: 15px; }
      #car-case-study article p {
        font-size: 1.5rem;
        font-family: "source_sans_proregular"; }
      #car-case-study article ul {
        margin-top: 25px; }
      #car-case-study article a {
        display: inline-block;
        margin-top: 25px; }
    #car-case-study picture {
      overflow-x: hidden !important; }
      #car-case-study picture img {
        overflow-x: hidden !important;
        display: inline-block;
        max-width: 991px;
        margin-right: 5rem;
        z-index: -1 !important;
        top: 18%;
        bottom: 15%;
        position: absolute;
        opacity: 0;
        right: -1000px; } }
